fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
psycopg2
cryptography
passlib 
anyio              
asgiref            
bcrypt             
certifi           
cffi               
charset-normalizer 
click             
cryptography       
defusedxml         
ecdsa              
h11              
idna               
jose               
oauthlib           
passlib            
pip                
pyasn1             
pycparser                    
PyJWT              
python-jose        
python-multipart   
python3-openid     
requests           
requests-oauthlib  
rsa                
setuptools         
six                
sniffio            
social-auth-core   
starlette         
typing_extensions  
urllib3     